<div class="header">
  <img src="../assets/images/navbar.jpeg" alt="Banner Image">
</div>
<div class="main-content">
  <div class="data-table">
    <p><strong>To </strong></p>
    <p><strong>Name: </strong> Prashanth</p>
    <p><strong>C/o: </strong>Ramulu</p>
    <p><strong>Address: </strong>4-9, E G Pur, R&R Colony</p>
    <p><strong>Assembly: </strong>Gajwel</p>
    <p><strong>Districy: </strong> Siddipet</p>
  </div>

  <div class="paragraph">
    <h4>
      ప్రియమైన Prashanth గారు
    </h4>
    <p>
      60 ఏళ్ల సమైక్య పాలనలో తెలంగాణ అన్యాయానికి గురైందని ఎన్ని అవాంతరాలు ఎదురైనా స్వరాష్ట్ర కలను సాకారం చేశాను. ఏ
      ఆకాంక్షల కోసమైతే రాష్ట్రం ఏర్పాటు చేశామో ఆ ఆకాంక్షలు ఇంకా నెరవేరలేదని తెలిసి ఆవేదన చెందాను. తెలంగాణ ఫలాలను ఒక్క
      కుటుంబం మాత్రమే అనుభవిస్తూ అమరుల ఆకాంక్షలను చిదిమేసింది. అందుకే మీకు భరోసా కల్పించి.. తెలంగాణకు మంచి రోజులు
      తీసుకొస్తామని హామీ ఇచ్చేందుకు తెలంగాణకు వచ్చాను. ఇచ్చిన మాటకు కట్టుబడి తెలంగాణ రాష్ట్రాన్ని ఎలాగైతే ఏర్పాటు
      చేశానో...ఇప్పుడు మీకు ఇచ్చిన హామీలను నెరవేర్చే బాధ్యత కూడా నేను తీసుకుంటానని తెలియజేస్తున్నాను.
    </p>
    <h4>
      వరంగల్ రైతు డిక్లరేషన్
    </h4>
    <p>
      శతాబ్దాల కాంగ్రెస్ రాజకీయ ప్రస్థానంలో చేసేది చెప్పినం.. చెప్పిందే చేసినం. తెలంగాణ ఆర్థిక వనరులు, ఆర్థిక
      పరిస్థితులు అన్నింటిని పరిశీలించే కాంగ్రెస్ పార్టీ హామీలు ఇస్తోంది. తెలంగాణ ఏర్పడితే రైతుల ఆత్మహత్యలు ఉండవని
      ప్రకటించారు కాని తెలంగాణ ఏర్పడ్డాక రికార్డ్ స్థాయిలో 8వేల మంది రైతులు ఆత్మహత్యలు చేసుకోవడం విషాదం. కౌలు రైతులను
      అసలు రైతులుగానే గుర్తించమని అసెంబ్లీ సాక్షిగా కేసీఆర్ ప్రకటించారు. వీటన్నింటిని చూశాకే రైతుల కోసం రాహుల్ గాంధీ
      వరంగల్ పర్యటనలో రైతు డిక్లరేషన్ ప్రకటించారు.
    </p>
    <img src="../assets/images/c/raithu.jpg" alt="Banner Image" style="width: 100%;">
    <h4>
      హైదరాబాద్ యువ డిక్లరేషన్
    </h4>
    <p>
      ప్రత్యేక ఉద్యమాన్ని నిప్పురవ్వలా మండించిన తెలంగాణ యువత, నిరుద్యోగులు స్వరాష్ట్రంలో నిరాశ, నిస్పృహలో
      కూరుకుపోయారు.
      తెలంగాణ వస్తే ఇంటికో ఉద్యోగం వస్తుందని ఉద్యమ సమయంలో ప్రకటించిన కేసీఆర్.. తన కుటుంబంలో అందరికీ కొలువులు
      ఇచ్చుకున్నాడు కాని, ఉద్యమాన్ని పెనుమంటలా మండించిన విద్యార్ధి, నిరుద్యోగ లోకానికి ఉద్యోగాలు ఇవ్వకుండా వారిని
      ఆత్మహత్యల వైపు ఉసిగొల్పాడు. అందుకే విద్యార్ధి, నిరుద్యోగ లోకానికి ఓ భరోసాను కల్పించేందుకు యువ డిక్లరేషన్ ను
      ప్రకటించాం. యూత్ డిక్లరేషన్ లో ప్రకటించిన ప్రతి హామీకి కాంగ్రెస్ పార్టీ, వ్యక్తిగతంగా నేను కట్టుబడి ఉన్నాను.
    </p>
    <img src="../assets/images/c/youth.jpg" alt="Banner Image" style="width: 100%;">
    <h4>
      చేవేళ్ల ఎస్సీ, ఎస్టీ డిక్లరేషన్
    </h4>
    <p>
      కేసీఆర్ వంచనకు తెలంగాణ దళిత , గిరిజన సమాజం తీవ్రంగా మోసపోయింది. ఎస్సీ సబ్ ప్లాన్ నిధులను దారిమళ్ళించారు,
      నేరెళ్ళలో
      దళితులను ఊచకోత కోశారు. తండాలను గ్రామ పంచాయితీలుగా గుర్తించారు తప్పితే తండాల అభివృద్ధికి నిధులను విడుదల చేయలేదు.
      దళిత బంధు అంటూ బీఆర్ఎస్ కార్యకర్తలకు ఇచ్చారు, మునుగోడు ఉప ఎన్నికల్లో ప్రకటించిన గిరిజన బంధు జాడ లేదు. కేసీఆర్
      మోసాలకు బలైన ఎస్సీ, ఎస్టీ వర్గాలకు చేయూతనిచ్చేందుకు ఎస్సీ, ఎస్టీ డిక్లరేషన్ ను మల్లిఖార్జున ఖర్గే గారు
      ప్రకటించారు. ఈ వర్గాల అభ్యున్నతి కోసం రూపొందించిన ఈ హామీలను తప్పకుండా నెరవేర్చుతాం.
    </p>
    <img src="../assets/images/c/sc_sct.jpg" alt="Banner Image" style="width: 100%;">
    <h4>
      ఆరు గ్యారెంటీలు
    </h4>
    <ul>
      <li>
        రూ. 500కే వంట గ్యాస్ సిలిండర్
      </li>
      <li>
        ఏకకాలంలో రూ.2లక్షల రైతు రుణమాఫీ
      </li>
      <li>
        ఆసరా పింఛన్లు నెలకు రూ.4000
      </li>
      <li>
        ఏడాదిలోనే 2లక్షల ఉద్యోగాలు భర్తీ
      </li>
      <li>
        మహిళలకు ప్రతి నెల రూ.2వేల ఆర్థిక సాయం
      </li>
      <li>
        ఎస్సీ, ఎస్టీ కుటుంబాలకు రూ.12లక్షల ఆర్థిక సాయం
      </li>
    </ul>
    <div class="video-container">
      <iframe width="853" height="480" src="https://www.youtube.com/embed/8FlP0_3xiDs"
        title="TPCC Revanth Reddy 10 Mints 🤙💪POWERFULL SPEECH At Chevella Congress Meeting | CM KCR | YOYO TV"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
      <!-- <iframe width="875" height="492" src="https://www.youtube.com/embed/aYOW6hD2zuI" title="[FMV] Jungkook ❝Unholy❞"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
      <iframe width="875" height="492" src="https://www.youtube.com/embed/fjIRUWLnyRM" title="Jungkook FMV Need To Know"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
      <iframe width="875" height="492" src="https://www.youtube.com/embed/aYOW6hD2zuI" title="[FMV] Jungkook ❝Unholy❞"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
      <iframe width="875" height="492" src="https://www.youtube.com/embed/aYOW6hD2zuI" title="[FMV] Jungkook ❝Unholy❞"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
      <iframe width="875" height="492" src="https://www.youtube.com/embed/aYOW6hD2zuI" title="[FMV] Jungkook ❝Unholy❞"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe> -->
    </div>
    <p>
      కర్ణాటకలో ఐదు గ్యారెంటీలను ప్రకటించాం. అధికారంలోకి వచ్చిన మొదటి నెలలోనే అమలు చేసి, హామీల అమలులో కాంగ్రెస్
      చిత్తశుద్దిని చాటాం. ఇప్పుడు తెలంగాణలో ఆరు గ్యారెంటీలను ప్రకటించాను. ఈ ఆరు గ్యారెంటీలకు నాది పూర్తి బాధ్యత.
      నన్ను
      నమ్మండి..కాంగ్రెస్ ను తెలంగాణలో ఆశీర్వదించండి. సంక్షేమాన్ని, అభివృద్ధిని పరుగులు పెట్టించి తెలంగాణ రాష్ట్ర
      ఏర్పాటుకు ఉద్దేశించిన లక్ష్యాలు, అమరుల ఆకాంక్షలు సాకారం చేసి తీరుతా..
    </p>

  </div>


  <div class="image-gallery scroll-container">
    <!-- <img src="../assets/images/youth1.jpeg" alt="Image 1">
    <img src="../assets/images/youth3.jpeg" alt="Image 1">
    <img src="../assets/images/youth.jpeg" alt="Image 1"> -->
    <!-- <img src="../assets/images/congress_2.webp" alt="Image 2">
    <img src="../assets/images/congress_3.jpg" alt="Image 3">
    <img src="../assets/images/congress_5.jpg" alt="Image 4">
    <img src="../assets/images/congress_6.avif" alt="Image 5">
    <img src="../assets/images/congress_7.webp" alt="Image 6">
    <img src="../assets/images/congress_8.jpg" alt="Image 7">
    <img src="../assets/images/congress_10.png" alt="Image 8">
    <img src="../assets/images/congress_11.jpg" alt="Image 9">
    <img src="../assets/images/congress_9.jpg" alt="Image 10"> -->
  </div>
  <!-- <div class="table-container">
      <table>
        <tr>
          <td>sl.no</td>
          <td>votur number</td>
        </tr>
        <tr>
          <td>sl.no2</td>
          <td>votur number</td>
        </tr>
        <tr>
          <td>fatherbame</td>
          <td>votur number</td>
        </tr>
        <tr>
          <td>age</td>
          <td>votur number</td>
        </tr>
      </table>
    </div> -->
</div>
<div class="header">
  <img src="../assets/images/c/footer.jpeg" alt="Banner Image">
</div>
<script>
  debugger

  document.title = 'Vote for Congress Party';
</script>